* {
  font-family: var(--font-ubuntu);
  line-height: 1.5;
  color: var(--white);
}

.container {
  max-width: 1000px;
}

.desktop-heading-1 {
  font-size: var(--desktop-heading-1);
  font-family: var(--font-russo-one);
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 3px;
}

.desktop-heading-2 {
  font-size: var(--desktop-heading-2);
  font-family: var(--font-russo-one);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.desktop-heading-3 {
  font-size: var(--desktop-heading-3);
  font-family: var(--font-russo-one);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.mobile-heading-1 {
  font-size: var(--mobile-heading-1);
  font-family: var(--font-russo-one);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.mobile-heading-2 {
  font-size: var(--mobile-heading-2);
  font-family: var(--font-russo-one);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.mobile-heading-3 {
  font-size: var(--mobile-heading-3);
  font-family: var(--font-russo-one);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.desktop-body-1-regular {
  font-size: var(--desktop-body-1);
  font-weight: var(--font-weight-regular);
}

.desktop-body-1-medium {
  font-size: var(--desktop-body-1);
  font-weight: var(--font-weight-medium);
}

.desktop-body-1-bold {
  font-size: var(--desktop-body-1);
  font-weight: var(--font-weight-bold);
}

.desktop-body-2-regular {
  font-size: var(--desktop-body-2);
  font-weight: var(--font-weight-regular);
}

.desktop-body-2-medium {
  font-size: var(--desktop-body-2);
  font-weight: var(--font-weight-medium);
}

.desktop-body-2-bold {
  font-size: var(--desktop-body-2);
  font-weight: var(--font-weight-bold);
}

.desktop-body-3-regular {
  font-size: var(--desktop-body-3);
  font-weight: var(--font-weight-regular);
}

.desktop-body-3-medium {
  font-size: var(--desktop-body-3);
  font-weight: var(--font-weight-medium);
}

.desktop-body-3-bold {
  font-size: var(--desktop-body-3);
  font-weight: var(--font-weight-bold);
}

.desktop-body-4-regular {
  font-size: var(--desktop-body-4);
  font-weight: var(--font-weight-regular);
}

.desktop-body-4-medium {
  font-size: var(--desktop-body-4);
  font-weight: var(--font-weight-medium);
}

.desktop-body-4-bold {
  font-size: var(--desktop-body-4);
  font-weight: var(--font-weight-bold);
}

.desktop-body-5-regular {
  font-size: var(--desktop-body-5);
  font-weight: var(--font-weight-regular);
}

.desktop-body-5-medium {
  font-size: var(--desktop-body-5);
  font-weight: var(--font-weight-medium);
}

.desktop-body-5-bold {
  font-size: var(--desktop-body-5);
  font-weight: var(--font-weight-bold);
}
.mobile-body-1-regular {
  font-size: var(--mobile-body-1);
  font-weight: var(--font-weight-regular);
}

.mobile-body-1-medium {
  font-size: var(--mobile-body-1);
  font-weight: var(--font-weight-medium);
}

.mobile-body-1-bold {
  font-size: var(--mobile-body-1);
  font-weight: var(--font-weight-bold);
}

.mobile-body-2-regular {
  font-size: var(--mobile-body-2);
  font-weight: var(--font-weight-regular);
}

.mobile-body-2-medium {
  font-size: var(--mobile-body-2);
  font-weight: var(--font-weight-medium);
}

.mobile-body-2-bold {
  font-size: var(--mobile-body-2);
  font-weight: var(--font-weight-bold);
}

.mobile-body-3-regular {
  font-size: var(--mobile-body-3);
  font-weight: var(--font-weight-regular);
}

.mobile-body-3-medium {
  font-size: var(--mobile-body-3);
  font-weight: var(--font-weight-medium);
}

.mobile-body-3-bold {
  font-size: var(--mobile-body-3);
  font-weight: var(--font-weight-bold);
}

.mobile-body-4-regular {
  font-size: var(--mobile-body-4);
  font-weight: var(--font-weight-regular);
}

.mobile-body-4-medium {
  font-size: var(--mobile-body-4);
  font-weight: var(--font-weight-medium);
}

.mobile-body-4-bold {
  font-size: var(--mobile-body-4);
  font-weight: var(--font-weight-bold);
}

.mobile-body-5-regular {
  font-size: var(--mobile-body-5);
  font-weight: var(--font-weight-regular);
}

.mobile-body-5-medium {
  font-size: var(--mobile-body-5);
  font-weight: var(--font-weight-medium);
}

.mobile-body-5-bold {
  font-size: var(--mobile-body-5);
  font-weight: var(--font-weight-bold);
}
